/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* body */
/* nav */
header {
    background-color: white;
    padding: 40px 240px ;
    /* max-width: 1920px; */

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    color: #0B0223;
    margin-top: 18px;
}

.nav-img-one {
    width: 86px;
    height: 40px;
    margin-top: 23px;
}

.nav-div-one {
    display: flex;
    gap: 10px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    font-size: 1.12rem;
    font-weight: 500;
    margin-right: 30px;
    padding-top: 2px;
}

nav li>a {
    text-decoration: none;
}

.about-us {
    display: flex;
    border-radius: 8px;
    background: white;
    align-items: center;
    padding-left: 1px;
    margin-bottom: 20px;
}

.follow-us {
    display: flex;
    justify-content: space-between;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    padding-left: 15px;
    margin-bottom: 20px;
}
/* main */
.banner{
    display: flex;
}
.about{
    margin-top: 200px;
    width: 50%;
}


