/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* body */
/* nav */
header {
    background-color: white;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 40px 240px;
    /* max-width: 1920px; */

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    color: #0B0223;
    margin-top: 18px;
}

.nav-img-one {
    width: 86px;
    height: 40px;
    margin-top: 23px;
}

.nav-div-one {
    display: flex;
    gap: 10px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    font-size: 1.12rem;
    font-weight: 500;
    margin-right: 30px;
    padding-top: 2px;
}

nav li>a {
    text-decoration: none;
}

.about-us {
    display: flex;
    border-radius: 8px;
    background: white;
    align-items: center;
    padding-left: 1px;
    margin-bottom: 20px;
}

.follow-us {
    display: flex;
    justify-content: space-between;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    padding-left: 15px;
    margin-bottom: 20px;
}

/* main */
.banner {
    display: flex;
}

.about {
    padding-top: 150px;
   padding-left: 240px; 
    align-items: center;
    width: 900px;
    height: 700px;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
}

.about-title {
    color: #0B0223;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
}

.goat {
    font-size: 5.9rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about li {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.btn-one {
    border: 0px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn-two {
    border: 0px;
    margin-left: 20px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.about-img {
    padding-right: 225px;
}

.online-container {
    padding: 0px 240px;
}

.online-image-container {
    gap: 50px;
    display: flex;
}

.online-content {
    text-align: center;
}

.online-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0px;
}

.f-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-des {
    color: #534C64;
    font-size: 1.12rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 48px;
}

.figcaption {
    width: 300px;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 10px;
}

.online-image-container {
    max-width: 1920px;
    gap: 0px;
    margin: 0px 300px;
    justify-content: space-evenly;
    padding-right: 20px;
}

/* media queries */
@media screen and (max-width:576px) {
    header {
        padding-left: 180px;
    }

    nav {
        flex-direction: column;
    }

    .nav-main {
        flex-direction: column;
    }

    .nav-div-two {
        flex-direction: column;
    }

    .nav-div-two>ul {
        flex-direction: column;
    }

    .about-us {
        flex-direction: column;
    }

    .banner {
        flex-direction: column-reverse;
    }
    .about-img{
        width: 100%;
        padding: 10px;
    }
    .online-image-container {
        flex-direction: column;
    }
    .about{
         padding-right: 240px;
         width: 20px;
    }
    .online-title{
        margin-right: 200px;
    }
}